
{% load static %}

<link rel="icon" type="image/x-icon"  href="https://res.cloudinary.com/perecentuari/image/upload/v1677787080/finallogo_ooorff.png" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://kit.fontawesome.com/4b3d73dc6b.js" crossorigin="anonymous"></script>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind-output.css' %}"> {% endcomment %}
  <body class="flex flex-col">
    
    <div class="bg-[url('https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')] bg-cover bg-no-repeat w-full h-[30rem]  flex  flex-col">
      

     
      <nav id = "navbar" class="flex justify-center w-full fixed bg-blue-900 pt-2 pb-2">
        
      
        <div id="Home" class="flex justify-between gap-20  pr-10">

          <div class="text-lg font-bold">
            <a id  ="nav" href="#Home" class="text-white text-base">Home</a>
          </div>
          <div class="text-lg font-bold">
            <a id="nav" href="#about" class="text-white text-base">About me</a>
          </div>
          <div class="text-lg font-bold">
            <a id="nav" href="#Links" class="text-white text-base">Tech Stack</a>
          </div>
          <div class="text-lg font-bold">
            <a id="nav" href="#Skills" class="text-white text-base">Skills & Statistics</a>
          </div>
          <div class="text-lg font-bold">
            <a id="nav" href="#Qualification" class="text-white text-base">Qualification</a>
          </div>
          <div class="text-lg font-bold">
            <a id="nav" href="#Projects" class="text-white text-base">Projects</a>
          </div>
          <div class="text-lg font-bold">
            <a id="nav" href="#Contact" class="text-white text-base">Contact Me</a>
          </div>
          <div class="text-lg font-bold">
            <a id="nav" href="#Contact" class="text-white text-base">Resume</a>
          </div>
        </div>
        
      
      
      </nav>


    
      <div class="bg-center bg-cover bg-no-repeat   bg-[url('https://res.cloudinary.com/perecentuari/image/upload/v1677787080/finallogo_ooorff.png')] w-32 h-32   items-center self-center mt-[120px] mb-5 overflow-hidden "> <img src=""></div>
     
      
      <h1  class="text-center text-white items-center self-center  text-[25px] font-bold ">HELLO, I'M GODSPOWER PERE TOIKUMO  </h1>
      <h2 class="text-center text-white items-center self-center  text-[15px] mt-5">I am a professional webdeveloper. Mainly i do web-design but lately i blow bubbles and fight crime :) </h2>


      <div id="spinButton" class=" self-center justify-self-center text-center mt-5 items-center border-2 rounded-md"><button  class="p-2 w-24 text-white  text-[10px] font-bold ">CONTACT ME</button></div>


  
    </div>
    <div class="flex flex-wrap self-center gap-10">
      <div class=" hover:rotate-45 bg-center bg-cover bg-no-repeat  mt-20 bg-[url('https://res.cloudinary.com/perecentuari/image/upload/v1677154731/IMG_20220803_182934_094_hpllku.jpg')] w-32 h-32  rounded-full items-center self-center overflow-hidden "> </div>
      <div class=" hover:rotate-45 bg-center bg-cover bg-no-repeat  mt-20 bg-[url('https://res.cloudinary.com/perecentuari/image/upload/v1677154731/IMG_20220803_182934_094_hpllku.jpg')] w-32 h-32  rounded-full items-center self-center overflow-hidden "> </div>
      <div class=" hover:rotate-45 bg-center bg-cover bg-no-repeat  mt-20 bg-[url('https://res.cloudinary.com/perecentuari/image/upload/v1677154731/IMG_20220803_182934_094_hpllku.jpg')] w-32 h-32  rounded-full items-center self-center overflow-hidden "> </div>
    </div>
    
    
    <div  class=" w-full  flex  flex-col mt-5">

      <h3  id ="Links" class="text-blue-900 font-bold text-[25px] self-center justify-self-center text-center ">About Me</h3>
      <div class="self-center justify-self-center text-center w-[900] h-[200]">
          <p class="text-black text-sm self-center justify-self-center text-center mt-5">
            God’spower Pere Toikumo is a versatile web developer and graphic designer who specializes in using Python, Django, Django Rest Framework, HTML, CSS, Tailwind CSS, and JavaScript for web development. 
            In addition to his web development skills, he is also proficient in graphic design, using software such as Adobe Photoshop and Adobe Illustrator. His expertise in these areas allows him to create visually stunning web pages that are both functional and aesthetically pleasing. 
            As a web developer, He is skilled in building dynamic and interactive web applications that meet the needs of his clients. He is also able to create engaging user experiences through his knowledge of graphic design principles. 
            His commitment to staying up-to-date with the latest technologies and design trends in web development and graphic design enables him to provide the best possible service to his clients.
        </p>
    </div>

    </div>

    <div  class="self-center justify-self-center text-center " >
      <ul>
          <li>
            <a id="s_link" href="https://twitter.com/PereProxima"><i class="fa-brands fa-twitter twitter"></i></a>
            </li>
          <li>
            <a id="s_link"  href="https://wa.me/+2349011833652"><i class="fa-brands fa-whatsapp whatsapp"></i></a>
            </li>
          <li>
            <a id="s_link" href="https://www.instagram.com/pereproxima/"><i class="fa-brands fa-instagram instagram"></i></a>
          </li>
            <li>
            <a id="s_link" href="https://www.linkedin.com/in/godspower-toikumo-07b029238/"><i class="fa-brands fa-linkedin linkedin"></i></a>
        </li>
        <li>
          <a id="s_link" href="https://github.com/Pere-coder"><i class="fa-brands fa-github"></i></a>
      </li>
      <li>
        <a id="s_link" href="#"><i class="fa-brands fa-google-drive"></i></i></a>
    </li>
      </ul>
    </div>

  


    </div>
    
    <div id="Skills" class="w-full h-[30rem]  flex  flex-col mt-[100]">

      <h3  class="text-blue-900 font-bold text-[25px] self-center justify-self-center text-center mt-11">Tech Stack</h3>

    <div class=" self-center mt-9 text-[25px] flex flex-wrap justify-center items-center gap-[150px] text-white"> 

      <div class=" text-orange-700 flex flex-col items-center text-[100px]"><i class="fa-brands fa-html5"></i>
        <h5 class=" font-bold text-[15px] mt-5">HTML</h5>
      </div>

      <div class="text-blue-900 flex flex-col items-center text-[100px]"> <i class="fa-brands fa-css3-alt"></i>
      <h5 class="font-bold text-[15px] mt-5">CSS</h5>
        </p>
    </div>

    <div class=" text-yellow-500 flex flex-col items-center text-[100px]">  <i class="fa-brands fa-js"></i>
      <h5 class="font-bold text-[15px] mt-5">JavaScript</h5>
      </p>
    </div>

    <div class="text-blue-600 flex flex-col items-center text-[100px]"> <i class="fa-brands fa-python"></i>
      <h5 class="font-bold text-[15px] mt-5 ">Python</h5>
    </div>

    <div class=" text-black flex flex-col items-center text-[100px]"> <i class="fa-sharp fa-solid fa-database"></i>
      <h5 class="font-bold text-[15px] mt-5 ">Postgressql</h5>
    </div>
    </div>




    <h3 class="text-black font-bold text-[25px] self-center justify-self-center text-center mt-[250px]">Skills</h3>
  <div id="Qualification" class="mt-20 flex flex-col self-center">
    <h3  class="text-black font-bold text-[25px]  mt-[250px]"> Qualification</h3>
    <div>
          <div class="mt-10">
              <h3 class="qualification__title">Software Enginner</h3>
              <span class="qualification__subtitle">Microsoft - Instructor</span>
              <div class="qualification__celendar">
                  {% comment %} <i class="uil uil-calendar-alt"></i> {% endcomment %}
                  2019 - 2020
              </div>
          </div>

          <div class="mt-10">
            <h3 class="qualification__title">Software Enginner</h3>
            <span class="qualification__subtitle">Microsoft - Instructor</span>
            <div class="qualification__celendar">
                {% comment %} <i class="uil uil-calendar-alt"></i> {% endcomment %}
                2019 - 2020
            </div>
        </div>

        <div class="mt-10">
          <h3 class="qualification__title">Software Enginner</h3>
          <span class="qualification__subtitle">Microsoft - Instructor</span>
          <div class="qualification__celendar">
              {% comment %} <i class="uil uil-calendar-alt"></i> {% endcomment %}
              2019 - 2020
          </div>
      </div>

      

  
    </div>
  </div>

    <h3 id = "Projects" class="text-black font-bold text-[25px] self-center justify-self-center text-center mt-[250px]">THIS IS MY WORK</h3>

    <div class="self-center mt-11 text-[50px] flex  flex-wrap  justify-center items-center gap-[50px]"> 
      <div id="spinButton" class=" border-2 rounded-md border-red-500 self-center"><button  id="button"  onclick="buttonColor(this)" class="p-2 w-24 h-10 text-red-500  text-[10px] font-bold ">Software development</button>
    </div>
    
    <div id="spinButton" class=" border-2 rounded-md border-red-500 self-center"><button id="button"  onclick="buttonColor(this)" class="p-2 w-24 h-10 text-red-500  text-[10px] font-bold ">Web design & development</button>
    </div>
    
    <div id="spinButton" class=" border-2 rounded-md border-red-500 self-center"><button id="button"  onclick="buttonColor(this)" class="p-2 w-24 h-10 text-red-500  text-[10px] font-bold ">Graphic design</button>
    </div>
  
    <div id="spinButton" class=" border-2 rounded-md border-red-500 self-center"><button id="button"  onclick="buttonColor(this)" class="p-2 w-24 h-10 text-red-500  text-[10px] font-bold ">Biologist</button> 
    </div>
    
    <div id="spinButton" class=" border-2 rounded-md border-red-500  self-center"><button id="button"  onclick="buttonColor(this)" class="p-2 w-24 h-10 text-red-500  text-[10px] font-bold ">Educationist</button>
    </div>
    </div>



  


    <div class="mt-11 text-[50px] flex flex-wrap justify-center  items-center gap-[80px] rounded-md" > 
      <div class=" w-[300] h-[300] rounded-md bg-cover bg-no-repeat   bg-[url('https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80')]">
    </div>
    <div class="w-[300] h-[300] rounded-md bg-cover bg-no-repeat  bg-center bg-[url('https://res.cloudinary.com/perecentuari/image/upload/v1677779766/made_to_love_zfjwja.jpg')]">
    </div>
    <div class="w-[300] h-[300] rounded-md bg-cover bg-no-repeat  bg-center bg-[url('https://images.unsplash.com/photo-1508161773455-3ada8ed2bbec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')]">
    </div>
    <div class="w-[300] h-[300] rounded-md bg-cover bg-no-repeat  bg-center bg-[url('https://res.cloudinary.com/perecentuari/image/upload/v1677779950/python_rebrand_ibhsuo.jpg')]">
    </div>
    <div class="w-[300] h-[300] rounded-md bg-cover bg-no-repeat  bg-center bg-[url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')]">
    </div>
    <div class="w-[300] h-[300] rounded-md bg-cover bg-no-repeat  bg-center bg-[url('https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80')]">
    </div>
    <div class="w-[300] h-[300] rounded-md bg-cover bg-no-repeat  bg-center bg-[url('https://images.unsplash.com/photo-1601158935942-52255782d322?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80')]">
    </div>
    <div class="w-[300] h-[300] rounded-md bg-cover bg-no-repeat  bg-center bg-[url('https://images.unsplash.com/photo-1585184394271-4c0a47dc59c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80')]">
  </div>


    </div>
    
    <div   id="spinButton" class=" border-2 rounded-md border-red-500 mt-11 self-center"><a href="{% url 'works' %}"><button id="button"  onclick="buttonColor(this)" class="p-2 w-24 h-10 text-red-500  text-[10px] font-bold " >More</button></a>
    </div>


    <div id = "about"  class="bg-gray-300 w-full h-[30rem]  flex  flex-col mt-[100]">
      <h3 class="text-black font-bold text-[25px] self-center justify-self-center text-center mt-11">About Me</h3>

      <div class="self-center justify-self-center text-center w-[900] h-[500] mt-11">
        <p>

          Godspower Pere Toikumo is a Biologist, graphic designer, and python developer focusing on web development using Django, with experience in Adobe Photoshop, Adobe Illustrator, python, and also in teaching High school biology. Godspower is fueled by his passion for understanding how graphics can be used to create a powerful impression and communicate a design to people, Programming and how it can be used to solve real problems, biology and how It can be applied to creating a better environment for living organisms. He considers himself a ‘forever student', eager to both solve problems with his skills and also stay in tune by constantly updating his skill set through continued study and course work.

          Godspower’s hunger for knowledge and determination to turn information into action has contributed to his success in being able to successfully managing projects ranging from graphic design to web development using python. He is passionate about rendering services and helping out in any way he can, willing to understand and adapt to solve an existing problem.

          Godspower is willing to face new challenges and is an adept problem solver, he is a great team worker but can also manage projects alone, with little or no supervision. Godpower is currently working as a freelance graphic designer and web developer and is always interested in a challenge.

       </p>
    </div>
         
    </div>


   

  <div id="Blog" class="self-center"> 
    <h3  class="text-black font-bold text-[25px] self-center justify-self-center text-center mt-[100]">My Blog</h3>
      <div class=" flex flex-wrap justify-center items-center gap-[80px] mt-11 text-[50px]">
            <div class="bg-blue-700 w-[300] h-[300] rounded-md">
            </div>
            <div class="bg-blue-700 w-[300] h-[300] rounded-md">
            </div>
            <div class="bg-blue-700 w-[300] h-[300] rounded-md">
            </div>
            <div class="bg-blue-700 w-[300] h-[300] rounded-md">
            </div>
        </div>
  </div>
    


    <div class="bg-blue-900 w-full h-[1000rem]  flex  flex-col mt-[100]">

      <div id="Contact"  class="self-center justify-self-center text-center w-[1000] h-[200] text-white">
        <h3 class="text-white font-bold text-[25px] mt-11">LET'S GET IN TOUCH</h3>
        {% comment %} <p class="mt-11">Hello, want to get in touch, these are my locations.<br> You want to Contact me, send a message
          .</p> {% endcomment %}
      </div>




   <div class="flex flex-wrap justify-center items-center  text-white px-10 py-6 w-[900px] self-center gap-36">
    <div class="flex flex-col items-center">
      <i class="fa-solid fa-location-dot text-2xl"></i>
      <p class="text-xs font-bold mt-5">R308, Eninjoku, New hall, Unilag.</p>
    </div>

    <div class="flex flex-col items-center">
      <i class="fa-solid fa-envelope text-2xl"></i>
      <p class="text-xs font-bold mt-5">Gpere800@gmail.com</p>
    </div>
    <div class="flex flex-col items-center">
      <i class="fa-solid fa-phone-volume text-2xl"></i>
      <p class="text-xs font-bold mt-5">+2349011833652</p>
    </div>
  </div>


    

    <div class="self-center mt-[10] text-[20px] flex justify-between gap-[300px] text-white "> 
   
      <form method='POST'>
        
        {% csrf_token %}
        <br>
        <input type="text" id="name" name="name" placeholder="Name" size="80" class="rounded-md w-full   bg-blue-900 outline-none border-white border-r-2 border-l-2"><br>
        <br>
        <input type="email" id="email" name="email" placeholder="Email"  size="80" class="rounded-md w-full   bg-blue-900 outline-none border-white border-r-2 border-l-2">
        <br><br>
        <textarea placeholder="Message..." name='message' rows="5" cols="80" class="rounded-md w-full  bg-blue-900 outline-none border-white border-r-2 border-l-2" ></textarea>
        {% comment %} <textarea color="white" placeholder="Email"  > </textarea> {% endcomment %}
        
      </div> 
      {% for message in messages %}
      <div class="self-center mt-[10] text-[20px] flex justify-between gap-[300px] text-white  "><h1> {{message}}</h1></div>
      {% endfor %}
        <div id="spinButton" class=" self-center justify-self-center text-center mt-5 items-center border-2 rounded-md"><button class="p-2 w-24 text-white  text-[10px] font-bold ">SUBMIT</button></div>
      </form>
      

      <div class="bg-gray-600 w-full h-[5rem]  flex  flex-col mt-[80]">

        <div class="self-center justify-self-center text-center w-[1000] h-[50]"></div>
           
      </div>

   


  


   

 
      
      
     
         
    </div>





















  
    
  </div> 



  <script>


    // select all the navigation links
  const navLinks = document.querySelectorAll('#nav');

  // add a click event listener to each navigation link
  navLinks.forEach(link => {
    link.addEventListener('click', event => {
      event.preventDefault(); // prevent the default link behavior
      const targetId = link.getAttribute('href'); // get the href attribute of the clicked link
      const targetSection = document.querySelector(targetId); // select the target section
      const targetPosition = targetSection.offsetTop; // get the top position of the target section
      window.scrollTo({
        top: targetPosition, // set the scroll position to the top of the target section
        behavior: 'smooth' // animate the scrolling behavior
      });
    });
  });

    let prevButton = null;

    function buttonColor(button) {

      if (prevButton !== null) {
        prevButton.style.backgroundColor = "";
        prevButton.style.color = "#f56565";
      }
      button.style.backgroundColor = "#f56565";
      button.style.color = "white";

      prevButton = button;
}

  </script>

    <style>
      {% comment %} content {
        max-width: 1000px;
        margin: auto;
      }
 {% endcomment %}



      ul {
        position: relative;
        display: flex;
      }
      
      ul li {
        position: relative;
        list-style: none;
        margin: 0 20px;
        cursor: pointer;
      }
      
      ul li a#s_link {
        text-decoration: none;
      }
      
      ul li a#s_link .fa-brands {
        font-size: 2em;
        color: #222;
      }
      
      ul li a#s_link::before {
        font-family: "FontAwesome";
        position: absolute;
        top: -8px;
        left: 0;
        font-size: 2em;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
      }
      ul li:nth-child(6) a#s_link::before {
        content: "\f3aa";
        color: #8B0000;
        border-bottom: 4px solid #8B0000;
      }
      ul li:nth-child(5) a#s_link::before {
        content: "\f09b";
        color: #00008B;
        border-bottom: 4px solid #00008B;
      }
      

      ul li:nth-child(4) a#s_link::before {
        content: "\f08c";
        color: #296d98;
        border-bottom: 4px solid #296d98;
      }
      
      ul li:nth-child(3) a#s_link::before {
        content: "\f16d";
        background-image: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 4px solid #dc2743;
      }
      
      ul li:nth-child(2) a#s_link::before {
        content: "\f232";
        color: #25d366;
        border-bottom: 4px solid #25d366;
      }
      
      ul li:nth-child(1) a#s_link::before {
        content: "\f099";
        color: #1da1f2;
        border-bottom: 4px solid #1da1f2;
      }
      
      ul li:hover a#s_link::before {
        height: 150%;
      }








      

       #nav {
        background-image: linear-gradient(
          to right,
          #54b3d6,
          #54b3d6 50%,
          #FFF 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      
      #nav:before{
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      #nav:hover {
       background-position: 0;
      }
      
      #nav:hover::before{
        width: 100%;
      }
      
  

     #spinButton {
      transition: transform 0.5s;
    }
  
    #spinButton:hover {
      animation: spin 2s cubic-bezier(0.75,-0.5,0.25,1.5) ;
      transform-origin: center;
    }
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    </style>
    
  </body>


