<link rel="icon" type="image/x-icon"  href="https://res.cloudinary.com/perecentuari/image/upload/v1677787080/finallogo_ooorff.png" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://kit.fontawesome.com/4b3d73dc6b.js" crossorigin="anonymous"></script>

<body>


    <div class="flex flex-wrap justify-center items-center mt-48 gap-10 ">

        <div class="bg-slate-500 h-[600] w-[700] rounded-md "></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md "></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
        <div class="bg-slate-500 h-[600] w-[700] rounded-md"></div>
    </div>




























































</body>